body{
	font-family: arial;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	height: 2000px;
	background: black;
}
#nen{
	width: 1280px;
	margin: 0px auto;
}
#main{
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	width: 1280px;
	background: #00B450;
	position: relative;
}
a{
	text-decoration: none;
}
#header{
	margin: 0px;
	width: auto;
	height: 210px;
	font-size: 30px;
	font-weight:bold;
	color: white;
}
#tt{
	padding-top:10px;
	font-size: 40px;
	font-weight:bold;
}
#header_menu{
	width: 1280px;
	height: 70px;
	clear: both;
	color: black;
	font-weight:bold;
	background: #ffffff;
}
#header_menu ul{
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 520px;
}
#header_menu ul li {
	list-style-type: none;
	float: left;
	padding: 15px;
}
#header_menu ul li a{
	font-size: 20px;
	color: black;
}
#header_menu ul li a:hover{
	cursor: pointer;
	color: #00B450;
}
.logo{
	margin-top: 0px;
	margin-left: 30px;
	float: left;
	width:70px;
}
#tren{
	margin: 0px;
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 50px;
	width: auto;
	height: 120px;
	font-size: 25px;
	font-weight:bold;
}
.got7{
	width:700px;
	padding-left: 290px;
}
.agot7{
	padding-left: 135px;
	width:1000px;
}
.tua{
	font-weight:bold;
	font-size: 25px;
	padding-left: 580px;
}
.text{
	padding-left: 400px;
	font-size: 17px;
}